<div>
	<script type="text/template" id="upfront-getting-started-step-one-tpl">
		<div class="description">
			<h3>Willkommen bei UpFront-Builder!</h3>
			<br/>
			Lass uns eine kurze Tour machen :)
			<br/><br/>
			<strong>Layouts</strong> - Das ist, woraus Upfront-Themes gemacht sind... wie bei einem normalen WP-Theme findest Du hier Homepage, einzelne Posts, Archive usw.
			<br/><br/>
			<strong>Media</strong> - Ermöglicht das Hochladen von, ähm, Medien, yay!
			<br/><br/>
			<strong>UI / Sprites</strong> - Fortgeschrittene und für ausgefallene Designer/Entwickler ... verwalte Deine Sprite-Dateien hier.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>1</strong> <em>of</em> 3</div></div>
			<div class="right"><button class="next step-one">Weiter &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-two-tpl">
		<div class="description">
			<h3>Lege Deine Schriftarten fest! Mach es früh!</h3>
			<br/>
			Wähle aus über <strong>750</strong> Google-Schriftfamilien.
			<br/><br/>
			Oder sei einfach nur langweilig und bleibe bei den Standard-Systemschriften.
			<br/><br/>
			Tipp... wähle Deine Schriftarten und Farben am besten früh aus, denn das bedeutet, dass Du Voreinstellungen erstellen kannst, die dir jede Menge Zeit sparen.
		</div>
		<div class="controls">
			<div class="left"><div class="pagination"><strong>2</strong> <em>of</em> 3</div></div>
			<div class="right"><button class="prev step-two">&laquo; Zurück</button><button class="next step-two">Weiter &raquo;</button></div>
		</div>
	</script>
	<script type="text/template" id="upfront-getting-started-step-three-tpl">
		<div class="controls">
			<div class="left"><div class="pagination"><strong>3</strong> <em>von</em> 3</div></div>
			<div class="right"><button class="prev step-three">&laquo; Zurück</button><button class="finish step-three">Fertig</button></div>
		</div>
		<div class="description">
			<h3>Get Responsive! Get Saving!</h3>
			<br/>
			Klicke auf diese Schaltfläche, um zu sehen, wie Deine Webseite auf verschiedenen Geräten aussieht. Es gibt auch eine Rasteroption, um Sachen schön anzuordnen.
			<br/><br/>
			Und wenn Du fertig bist, musst Du nur noch auf „Theme speichern“ klicken. Wie einfach ist das?
			<br/><br/>
			Oh, und Du kannst dieses Zeug überprüfen und hier jede Menge mehr erfahren - <a target="_blank" href="https://upfront.n3rds.work/upfront-framework/upfront-1/">Erstellen eines UpFront-Themes</a>. Lesezeichen setzen!
		</div>
	</script>
</div>
